<%= form_for @hosted, :url => url_for(:controller => 'hosted', :action => 'create'), :html => {:class => 'form-main'} do |f| %>
  <% if @hosted.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hosted.errors.count, "error") %> prohibited this hosted from being saved:</h2>

      <ul>
      <% @hosted.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label(:user_email, "E-Mail", class: "sr-only") %><br>
  <%= f.email_field :user_email, class: "form-control", placeholder: "Email address" %>
   <%= f.submit class: "btn btn-lg btn-primary btn-block btn-send" %>

 
<% end %>
