<p id="notice"><%= notice %></p>

<p>
  <strong>Alternative:</strong>
  <%= @answer.alternative %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<p>
  <strong>Questionnaire:</strong>
  <%= @answer.questionnaire %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
