<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @questionnaire.host %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @questionnaire.subject %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @questionnaire.finished %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
