<p id="notice"><%= notice %></p>

<h1>Listing Questionnaires</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.user_id %></td>
        <td><%= questionnaire.subject_id %></td>
        <td><%= questionnaire.accepted %></td>
        <td><%= link_to 'Show', questionnaire_path(questionnaire) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
